<div *ngIf="busy" class="spinner-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div *ngIf="!busy">
    <app-page-header [heading]="'Students'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="pull-right">
                        <a routerLink="/student-management/edit" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'New Student' | translate }}
                        </a>
                    </div>
                    <div class="pull-left">Student List</div>
                </div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Grade</th>
                            <th>Date of Birth</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let student of students; let i = index;" [class.updated]="student.updated" #studentRow [ngbCollapse]="student.deleted">
                            <td>{{student.firstName}}</td>
                            <td>{{student.lastName}}</td>
                            <td>{{student.grade}}</td>
                            <td>{{student.dateOfBirth | date:'MM/dd/y'}}</td>
                            <td>

                                <a routerLink="/student-management/edit/{{student.id}}" class="btn btn-primary"
                                   [routerLinkActive]="['router-link-active']">
                                    <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Edit' | translate }}
                                </a>

                                <button href="javascript:void(0)" (click)="confirmDeleteStudent(student)" class="btn btn-danger">
                                    <i class="fa fa-fw fa-remove"></i>&nbsp;{{ 'Delete' | translate }}
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
