.updated {
    animation: highlight 0.7s cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
@keyframes highlight {
    from { background-color: white;}
    to { background-color: darkgrey;}
    from { background-color: darkgrey;}
    to { background-color: white;}
}


.delete-link {
    color:red;
    cursor:hand;
}
