<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/student-management" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-th-list"></i>&nbsp;{{ 'Students' | translate }}
        </a>


        <div class="nested-menu" *ngIf="false">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'Template Pages' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <a routerLink="/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
                    </a>
                    <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'charts' | translate }}
                    </a>
                    <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'tables' | translate }}
                    </a>
                    <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'forms' | translate }}
                    </a>
                    <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'boostrapElement' | translate }}
                    </a>
                    <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'boostrapGrid' | translate }}
                    </a>
                    <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-th-list"></i>&nbsp;{{ 'component' | translate }}
                    </a>
                </ul>
            </li>
        </div>
    </ul>
</nav>
