<div *ngIf="busy" class="spinner-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div *ngIf="!busy">
    <app-page-header [heading]="'Students / ' + (this.student.isNew() ? 'New Student' : this.student.getFullName())"
                     [icon]="'fa-table'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
                <div class="form-group" [ngClass]="{'has-danger':firstName.errors && !firstName.pristine}">
                    <label class="form-control-label" for="firstName">{{ "First Name"| translate}}*:</label>
                    <input type="text" ngbTooltip="Required Field, Maximum Length: 100 characters" class="form-control"
                           minlength="1" maxlength="100" id="firstName" required [(ngModel)]="student.firstName"
                           name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group" [ngClass]="{'has-danger':lastName.errors && !lastName.pristine}">
                    <label class="form-control-label" for="lastName">{{ "Last Name"| translate}}*:</label>
                    <input type="text" class="form-control" ngbTooltip="Required Field, Maximum Length: 100 characters"
                           minlength="1" maxlength="100" id="lastName" required [(ngModel)]="student.lastName"
                           name="lastName" #lastName="ngModel">
                </div>
                <div class="form-group" [ngClass]="{'has-danger':dateOfBirth.errors && !dateOfBirth.pristine}">
                    <label class="form-control-label" for="dateOfBirth">{{ "Date of Birth"| translate}}*:</label>

                    <input class="form-control" ngbTooltip="Required Field, Must be in the format: mm/dd/yyyy"
                           name="dateOfBirth" id="dateOfBirth" [(ngModel)]="student.dateOfBirth" validateDate #dateOfBirth="ngModel">

                </div>
                <div class="form-group">
                    <label for="grade">{{ "Grade"| translate}}*:</label>
                    <input type="text" class="form-control" ngbTooltip="Required Field, Maximum Length: 2 characters"
                           minlength="1" maxlength="2" id="grade" required [(ngModel)]="student.grade" name="grade"
                           #grade="ngModel">
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="!studentForm.form.valid && ((firstName.errors && !firstName.pristine) || (lastName.errors && !lastName.pristine) || (dateOfBirth.errors && !dateOfBirth.pristine) || (grade.errors && !grade.pristine))">
                        <div *ngIf="firstName.errors && !firstName.pristine">
                            <strong><em>First Name</em></strong> is a required field.
                        </div>
                        <div *ngIf="lastName.errors && !lastName.pristine">
                            <strong><em>Last Name</em></strong> is a required field.
                        </div>
                        <div *ngIf="dateOfBirth.errors && !dateOfBirth.pristine">
                            <strong><em>Date Of Birth</em></strong> must be in the format: mm/dd/yyyy
                        </div>
                        <div *ngIf="grade.errors && !grade.pristine">
                            <strong><em>Grade</em></strong> is a required field.
                        </div>
                    </div>
                    <a href="javascript:void(0)"
                       (click)="confirmCancel(firstName.pristine && lastName.pristine && dateOfBirth.pristine && grade.pristine)"
                       class="btn btn-danger pull-right">Cancel</a>
                    <div class="spacer pull-right"></div>
                    <button type="submit" class="btn btn-success pull-right" [disabled]="!studentForm.form.valid">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
